{% extends 'base.html' %}
{% block content %}
<style>
    .grid{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>
    <h2>Home</h2>
    <hr />
    <div class ="grid">
        <div class ="grid-cell">
            <h3>Browse topics</h3>
            <hr />
            <ul class ="items">
                <li><a href ="{% url 'home' %}">All</a></li>
                {% for topic in topics%}
                <li><a href ="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a></li>    
                {% endfor %}
            <ul>
        </div>

        <div class ="grid-cell">
            <a href ="{% url 'create-room' %}">Create Room</a>
            {% for room in rooms%}
            <div> 
                <h3><a href ="{% url 'room' room.id %}">{{room.name}}</a></h3>
                <p>@{{room.host}}</p>
                <a href ="{% url 'update-room' room.id%}">Edit</a>  
            </div>    
            {% endfor %} 
        </div>
        <div class ="grid-cell">
            <h3>Recent Activities</h3>
            {% for room in rooms%}  
                <p>{{room.name}}</p>    
            {% endfor %} 
        </div>
    </div>
{% endblock content %}